.routineActivity button {
  border: none;
  outline: none;
}

.routineActivity p,
.routineActivity button,
.routineActivity a,
.routineActivity span {
  margin: 0.2rem 0.3rem;
}

.deleteButton {
  color: rgb(184, 74, 74);
  cursor: pointer;
  font-weight: 800;
}

.editButton {
  color: rgb(87, 66, 184);
  background-color: rgb(209, 209, 209);
  border-radius: 4px;
  cursor: pointer;
  padding: 0 0.15rem;
}

.acceptButton {
  color: white;
  background-color: rgb(87, 66, 184);
  cursor: pointer;
  border-radius: 4px;
  padding: 0 0.25rem;
}

.routineActivity input {
  width: 3rem;
}
