.container {
  width: 100%;
  position: relative;
}

.container label {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  /* color: ;
  font-size: ;*/
  background-color: #fff;
  transition: all 0.1s ease-in-out;
  z-index: 9;
}

.input {
  position: relative;
  z-index: 10;
  background-color: transparent;
  padding: 0.5rem;
}

.label.focused {
  top: 0;
  /* maybe change font size */
  z-index: 11;
}
